body{
    background: url("templates\\purple.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
}

.aboutme-section{
    padding: 30px;
}

.aboutme-section>h4,.aboutme-section>h2,.Skills>h2{
    padding: 5px;
    font-family: "Audiowide", sans-serif;
    font-weight: 80;
}

.aboutme-section>h5,.conclusion{
    font-family: 'Arial Narrow',sans-serif;
}

hr{
    width: 50%;
    background-color: grey;
}

.footer{
    background-color: rgba(0,0,0,.25);
    /* height: 90px; */
}

span{
    color: green;
}

a{
    font-family: "Audiowide", sans-serif;
}
